* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
	scroll-behavior: smooth;
	font-family: "Ubuntu", sans-serif;
}

a {
	all: unset;
	cursor: pointer;
	
}

body {
	
	background-color: #008080;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 82%;
	min-height: 100svh;
}

section {
	padding-top: 100px;
	min-height: 100svh;
	display: flex;
	flex-direction: column;
}

.wrapper {
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-bottom: 50px;
	
}

h1 {
	margin: 30px;
}

form{
	background-color: #C0C0C0;
	display: flex;
	 border: 1px solid black;
  box-shadow: inset 1px 1px #fff, 1px 1px #000;
	flex-direction: column;
	
	padding: 40px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

form label{
	color: black;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

form input{
	width: 250px;
	height: 30px;
	 border: 1px solid black;
  box-shadow: inset 1px 1px #fff, 1px 1px #000;
	border: none;
	padding: 0 7px;
	color: black;
}

button[type=submit]{
	padding: 7px;
	color: white;
	background-color: navy;
	font-weight: bold;
	 border: 1px solid black;
  box-shadow: inset 1px 1px #fff, 1px 1px #000;
	border: none;
	cursor: pointer;
	margin-top: 15px;
	font-size: 18px;
}

.riep-prod li{
	color: #ff0081;
	font-weight: bold;
}



.riepilogo{
	background-color: #C0C0C0;
	display: flex;
	flex-direction: column;
	padding: 40px;
	 border: 1px solid black;
  box-shadow: inset 1px 1px #fff, 1px 1px #000;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
}

.riepilogo h3{
	margin: 5px 0;
	color: black;
}

.riepilogo ul{
	list-style: none;
}