* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scroll-behavior: smooth;

  
  font-family: "Windows Regular", sans-serif;
}

a {
  all: unset;
}

svg,
path {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  background-color: #000;
}

/* <section .hero> */
.hero {
  max-width: 100vw;
  height: 100svh;
  /* bg */
  background-image: url("../images/hero.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 82%;
  overflow: hidden;
  
}

.hero-content {
  
  height: 100svh;
  display: flex;
  align-items: center;
  position: relative;
  backdrop-filter: blur(5px);
}
.hero-spectrum {

	flex: 1;
  width: 600px;
  overflow: hidden;
}

.hero-middle {
  text-align: center;
  flex: 1;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-middle h1 {
  text-shadow: 0px 2px 0px #000000;
  font-size: 28px;
  text-transform: uppercase;
}
.blue-underline {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #010081;
  left: 0;
}
.searchbar-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.searchbar {
  width: 250px;
  height: 35px;
  background: white;
  border: 1px solid black;
    box-shadow: inset 1px 1px #fff, 1px 1px #000;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.searchbar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: black;
  border-radius: 5px;
  font-size: 16px;
}
.searchbar svg {
  cursor: pointer;
}
.searchbar input::placeholder {
  color: rgb(188, 188, 188);
}
.searchbar:has(input:focus) {
  border: 3px solid #010081;
}
.searchbar-ajax{
	background: white;
	width: 100%;
	position: absolute;
	top: 30px;
	display: none;
}
.searchbar-ajax ul{
	list-style: none;
	padding: 10px 0 0 0;
}
.searchbar-ajax ul li{
	color: black;
	cursor: pointer;
	padding: 5px;
}

.searchbar-ajax ul li:hover{
	background: #9a9996;
}

.hero-last {
  flex: 1;
}
.shop-now {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 18px;
  transform: translateX(-50%);
}
.shop-now-icon svg {
  position: relative;
  width: 50px;
  animation: MoveUpDown 1s linear infinite;
  cursor: pointer;
}
@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 5px;
  }
}
@media screen and (max-width: 1000px) {
  .hero-content {
    margin-top: 70px;
    flex-direction: column-reverse;
  }
  .hero-spectrum {
    margin-top: -150px;
    flex: 2;
    width: 470px;
  }
  .hero-middle {
    flex: 2;
  }
  .hero-last {
    flex: 0;
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .hero-content {
    margin-top: 0;
  }
  .hero-spectrum {
    flex: 0;
    display: none;
  }
}
/* </section .hero> */

/* <section .categorie> */
.categorie {
	background-color: #008080;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 150px 0;
}
.categorie-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 1100px;
  margin: auto;
  gap: 15px;
}
.categorie-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.categorie-divider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.categorie-divider h3 {
  font-family: "Windows Regular";
  font-size: 28px;
  color: black;
}
.span-divider {
  height: 3px;
  width: 100%;
  background-color: black;
  font-weight: bold;
}
.cards-wrapper {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card-categoria {
  display: flex;
  background-color: #C0C0C0;
   border: 1px solid black;
  box-shadow: inset 1px 1px #fff, 1px 1px #000;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.4));
  padding: 5px 10px 5px 25px;
  width: 300px;
}
.card-categoria-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}
.card-categoria-info p {
  color: black;
  font-size: 18px;
  font-family: Windows Regular;
  max-width: 100px;
}
.card-categoria-info a {
  cursor: pointer;
  color: white;
  background-color:#ff0081;
  font-size: 18px;
  padding: 7px;
  border-radius: 5px;
}
.card-categoria img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: contain;
}
.brands-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.brands-wrapper img {
  display: block;
}
@media screen and (max-width: 850px) {
  .categorie-content {
    width: 85%;
  }
}
@media screen and (max-width: 768px) {
  .categorie {
    background-size: cover;
  }
  .categorie-content {
    width: 90%;
  }
  .card-categoria {
    width: 270px;
  }
  .card-categoria img {
    width: 130px;
    height: 130px;
  }
  .brands-wrapper img {
    width: 70px;
  }
  .cards-wrapper {
    gap: 15px;
  }
}
/* </section .categorie>*/


