* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

	color: white;

	scroll-behavior: smooth;
	font-family: "Ubuntu", sans-serif;
}


a {
	all: unset;
}
svg, path {
	
	user-select: none;
	-webkit-user-drag: none;
}

body {
	background-color: #008080;
	background-image: url("../images/sfondo-darker.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 82%;
	min-height: 100svh;
}

section {
	min-height: 100svh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.infoBox p {
	color: #ff0081;
	font-weight: bold;
}

.global {
	display: flex;
	gap: 20vw;
	justify-content: space-between;
	align-items: center;
}

.imageBox {
	 border: 2px solid black;
  box-shadow: inset 1px 1px #fff, 1px 1px #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imageBox img {

	width: 350px;
}

.sellProduct {
	
	text-align: center;
}

.basicText {
	color: white;
	
	font-size: xx-large;
	
	font-weight: bold;
}

.infoBox {
	display: flex;
	
	flex-direction: column;
	gap: 15px;
}


.buyButton {
	width: 200px;
	height: 30px;
	background-color: navy;
	border: 2px;
	border-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.buyButton img {
	color: white;
	width: 20px;
}

@media screen and (max-width: 768px) {
	.global{
		padding-top: 100px;
		flex-direction: column;
	}
	.imageBox img {
		width: 80%;
	}
}